.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: white;
  align-items: center;
  padding: 10px;
  min-height: 220px;
  min-width: 295px;
}
input[type="text"] {
  width: 140px;
  margin-right: 10px;
}
button {
  cursor: pointer;
  border: none;
  background: aquamarine;
  padding: 3px 10px;
  font-weight: bold;
  border-radius: 5px;
}
ul {
}
li {
  color: grey;
}
